{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

<h1>Регистрация</h1>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_row(form.username) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.Nickname, { 'label': 'Никнейм (для отображения в профиле):' }) }}
    <div>
        <input class="btn" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
