{% extends 'AppBundle::template.html.twig' %}

{% block title %}
    Главная
{% endblock %}

{% block content %}
{% for msg in app.session.flashBag.get('success') %}
    <div class="alert alert-success">
        {{ msg }}
    </div>
{% endfor %}
{% for item in pagination %}
<div class="post">
    <a href="/news/{{item.relativeUrl}}"><h3 class="post-caption">{{ item.caption }}</h3></a>
    <div class="row">
        <div class="col-md-6">
            <a href="/news/{{item.relativeUrl}}">
                <img class="img-fluid img-polaroid" src="{{ vich_uploader_asset(item, 'imageFile') }}" alt="{{ item.caption }}">
            </a> 
        </div>
        <div class="col-md-6 post-announce">
            <div><p class="post-attributes">Дата публикации: {{ item.creationdate|date("F jS \\a\\t g:ia")}}</p> 
            <p class="post-attributes">Автор: {{ item.author }}</p>
            <p>{{ item.announce }}</p> 
            </div>
            <a href="/news/{{item.relativeUrl}}" class="btn">
                Читать далее...
            </a>
        </div>
    </div>
</div>
{% endfor %}
<div class="row justify-content-center">
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}
