{% extends 'AppBundle::template.html.twig' %}

{% block title %}
    {{item.caption}}
{% endblock %}

{% block content %}
<div class="show-post-wrap">
    <h1 class="text-centered show-post-header">{{ item.caption }}</h1>
    <img class="img-fluid img-in-post" src="{{ vich_uploader_asset(item, 'imageFile') }}" alt="{{ item.caption }}" align="left">
    <p class="post-attributes in-posts">Дата публикации: {{ item.creationdate|date("F jS \\a\\t g:ia")}}</p> 
    <p class="post-attributes in-posts">Категория: {{ item.categorieId }}</p> 
    
    <p>{{ item.textfull | raw }}</p> 
</div>
{% endblock %}
